    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About {{ site.title }}</h2>
                <p>{{ site.about_description }}</p>

                <h3>Partners</h3>

                <div class="row">
                    <div class="col-sm-4">
                        <h4>Sam Treweek</h4>
                        <img class="img-rounded" style="width:80%" src="/img/sam.png">
                    </div>
                    <div class="col-sm-4">
                        <h4>Greg Moss</h4>
                        <img class="img-rounded" style="width:80%" src="/img/greg.jpg">
                    </div>
                    <div class="col-sm-4">
                        <h4>Rich Parr</h4>
                        <img class="img-rounded" style="width:80%" src="/img/rich.png">
                    </div>
                </div>

            </div>
        </div>
    </section>