    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Automation Testing</h2>
                    <p>ACT Consulting are specialists in a Automation Test tools from open-source to commercial. We're also adept in a range of languages both strong and weak typed.</p>
                    <p>We have even started developing our own range of functional tools for specialist situations, utilising the speed of performance testing.</p>
                    <a href="https://github.com/accept-li/metallize" class="btn btn-default btn-lg">Metallize</a>
                </div>
            </div>
        </div>
    </section>